
text-capitalize-first {
 font-weight: bold;
 color: red;
}


/* fix for select2 validation fail */
div.control.select select.category-select2 {
 position: absolute;
 display: block !important;
 visibility: hidden;
 height: 1px;
 margin-left: 10px;
 margin-top: -14px;
}